# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작
- append: 요소를 하나 추가 (매우 중요)
- extend: 리스트 연결 확장
- insert: 특정 인덱스에 요소 추가

In [1]:
a = [10, 20, 30]

In [2]:
# 리스트 맨 뒤에 요소 하나를 추가하는 method 
a.append(500)
a

[10, 20, 30, 500]

In [4]:
a.append(['x', 'y'])
a

[10, 20, 30, 500, ['x', 'y']]

In [7]:
b = [10, 20, 30]
b.extend(['x', 'y'])
b

[10, 20, 30, 'x', 'y']

In [8]:
empty_list = []
for i in range(5):
    empty_list.append(i)      # 정말 많이 사용
empty_list

[0, 1, 2, 3, 4]

In [9]:
del a[4]
a

[10, 20, 30, 500]

### Stack and Queue

In [14]:
stack = []
# stack 에 push
stack.append(1); stack.append(2); stack.append(3);
stack

[1, 2, 3]

In [15]:
# stack으로 부터 pop
value = stack.pop()
print(value, stack)

3 [1, 2]

In [19]:
queue = []
# queue에 insert
queue.insert(0, 1); queue.insert(0, 2); queue.insert(0, 3);
print(queue)

[3, 2, 1]

In [20]:
# queue로부터 pop
value = queue.pop()
print(value, queue)

1 [3, 2]

### 다양한 method

In [26]:
a = [10, 20, 30, 40, 50, 10]
a.index(30)

2

In [24]:
num = 45
if num in a:
    idx = a.index(num)

In [28]:
print(a.count(10))
print(a.count(45))

2
0

### 정렬(sort)

In [35]:
a = [20, 10, 40, 50, 30]
a.sort()
print(a)

[10, 20, 30, 40, 50]

In [33]:
b = [20, 10, 40, 50, 30]
sorted(b)
print(sorted(b))
print(b)

[10, 20, 30, 40, 50]
[20, 10, 40, 50, 30]

In [34]:
# method 를 안쓰고 b 정렬값을 저장하려면
b = sorted(b)
print(b)

[10, 20, 30, 40, 50]

In [37]:
# 내림차순(descending order)
a = [20, 10, 40, 50, 30]
a.sort(reverse=True)
print(a)

[50, 40, 30, 20, 10]

## 22.2 리스트 할당과 복사

In [46]:
# Shallow copy, pointer만 복사
a = [0, 0, 0, 0, 0, 0]
b = a
b

[0, 0, 0, 0, 0, 0]

In [47]:
b[2] = 90
print(b)
print(a)

[0, 0, 90, 0, 0, 0]
[0, 0, 90, 0, 0, 0]

In [48]:
# 데이터를 몽땅 별도의 기억장소에 copy
a = [0, 0, 0, 0, 0, 0]
b =a.copy()
b

[0, 0, 0, 0, 0, 0]

In [49]:
b[2] = 99
print(b)
print(a)

[0, 0, 99, 0, 0, 0]
[0, 0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [50]:
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

apple
banana
cherry

In [51]:
fruits = ['apple', 'banana', 'cherry']     # 인덱스와 요소를 같이 꺼내오는 방법, 많이 사용
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [52]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

## 22.4 리스트에서 min, max, sum 함수 활용

In [54]:
a = [34, 23, 764, 92, 31]
a.sort()
print(a[0])              # min(a)
print(a[-1])             # max(a)

23
764

In [55]:
a = [34, 23, 764, 92, 31]
print(sorted(a)[0])      # min(a)

23

In [56]:
# a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list, sum(a)

(944, 944)

## 22.5 리스트 표현식(Comprehension)

In [58]:
[fruit for fruit in fruits]

['apple', 'banana', 'cherry']

In [59]:
[fruit*index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [60]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
list([i*i for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)

print(sq_list)              # 표현식이 없다면 이렇게

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if조건문 사용

In [63]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [64]:
[i*i for i in range(1,11) if i%2 == 1]

[1, 9, 25, 49, 81]

### for문 여러번 사용

In [66]:
a = [i*k for i in range(2, 10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [67]:
a = [i*k for i in range(2, 10)
             for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 map

In [68]:
a = [1.2, 2.3, 3.4, 4.5]
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [69]:
a = [1.2, 2.3, 3.4, 4.5]
for i, val in enumerate(a):
    a[i] = int(val)
print(a)

[1, 2, 3, 4]

In [70]:
a = [1.2, 2.3, 3.4, 4.5]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [71]:
a = [1.2, 2.3, 3.4, 4.5]
a = list(map(lambda x: x*x, a))    # 함수도 가능
print(a)

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

## 22.7 튜플 응용

In [72]:
tuple(i*i for i in range(1, 11) if i % 2 == 0)

(4, 16, 36, 64, 100)