# Unit 10. 리스트와 튜플

## 10.1 리스트

In [1]:
a = [5, 23, 57, 42, 46]
print(a)

[5, 23, 57, 42, 46]

In [3]:
# 파이썬에서 리스트 엘리먼트가 다른 자료형도 가능
person = ['James', 19, 178, True, [120, 80]]
print(person)

['James', 19, 178, True, [120, 80]]

In [6]:
# 딕셔너리 형태로 쓰는 것이 권장됨
person_dict = {'name': 'Alice', 'age':19, 'height': 164,
                'is_male':False, 'bp':[120,80]}
print(person_dict)

{'name': 'Alice', 'age': 19, 'height': 164, 'is_male': False, 'bp': [120, 80]}

### 빈 리스트 만들기

In [7]:
a = []
b = list()
a,b

([], [])

In [8]:
a, b = [], []

### range
- range([시작숫자,] 끝나는 숫자+1 [, 증가분])

In [11]:
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [14]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [15]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- Read-only (변경불가)

In [16]:
a = (38,12,4)
a

(38, 12, 4)

In [17]:
a = 38,12,4    # 파이썬만
a

(38, 12, 4)

In [19]:
person = ('James', 19, 178, True, [120, 80])
print(person)

('James', 19, 178, True, [120, 80])

In [23]:
a = tuple('James')
a

('J', 'a', 'm', 'e', 's')

In [24]:
# a는 정수
a = (38)
a

38

In [25]:
# a는 튜플
a = (38,)
a

(38,)

In [26]:
tuple(range(5))

(0, 1, 2, 3, 4)

### list <-> tuple

In [27]:
a = [1,2,5]
b = tuple(a)
b

(1, 2, 5)

In [28]:
c = list(b)
c

[1, 2, 5]

In [30]:
x = 10, 11
tuple(x)

(10, 11)

### 문자열

In [31]:
tuple('LOVE')

('L', 'O', 'V', 'E')

In [32]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [33]:
 # tuple unpacking
a =  (1,2,5)
x, y, z = a
print(x, y, z)

1 2 5

In [34]:
# list unpacking
x, y, z = [1,2,5]
print(x, y, z)

1 2 5